/* Public/styles/cards.css */

.tile {
    width: 160px;
    background-color: #fffaf0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.tile:hover {
    transform: scale(1.03);
}

.tile img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.tile .title {
    font-weight: 600;
    font-size: 14px;
}

.button-tile {
    padding: 8px 16px;
    background-color: #f5deb3;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    color: #5e3d2d;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none; /* Додано для посилань */
    display: inline-block; /* Забезпечує правильне відображення як кнопки */
}

.button-tile:hover {
    background-color: #e0c9a6;
}

.section-link {
    display: block; /* Кнопка займає весь доступний простір */
    margin: 10px 0; /* Відступ зверху і знизу */
    text-align: center; /* Центруємо текст */
}

.grid-row {
    display: grid; /* Використовуємо сітку */
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Адаптивна сітка, відповідає ширині .tile */
    gap: 20px; /* Відступ між картками */
    margin-top: 20px; /* Додаємо відступ зверху, щоб відокремити від кнопки */
}